body {
  -webkit-font-smoothing: antialiased;
  font-family: @RoboLight;
  font-size: 18px;
  color: #333333;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  .transition(all ease-in-out .3s);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}