.btn {
  letter-spacing: 3px;
  outline: none !important;
}

.btn-primary {
  background-color: #971b2f;
  padding: 20px 30px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  font-family: @MontserratBold;
  border: 2px solid transparent;
  border-radius: 0;
  .transition(all ease-in-out .3s);

  &:hover, &:focus {
    background-color: transparent;
    border-color: #971b2f;
    color: #971b2f;
  }
}

.btn-transparent {
  background-color: transparent;
}

.btn-bordered-white {
  border-color: #fff;
  background-color: transparent;
}

.btn-search {
  font-family: 'MontserratSemiBold', sanserif;
  font-size: 12px;
  background-color: transparent;
  color: #333333;
  padding: 10px 9px;
  text-transform: uppercase;
  display: none;
  margin-top: 2px;
  letter-spacing: normal;

  img {
    margin-top: -3px;
  }
}

