.navbar-menu {
  margin: 0;
  border: none;
  height: auto;
  border-radius: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;


  .navbar-brand {
    height: auto;
    overflow: hidden;
    width: 310px;
    height: auto;
  }

  .navbar-toggle {
    border: none;
    margin: 22px 15px 0;
    background-color: transparent !important;
    
    .icon-bar {
      background-color: #971B2F;
      width: 35px;
      margin-bottom: 5px;
    }

    .sr-only {
      position: absolute;
      left: -45px;
      top: 4px;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      overflow: visible;
      clip: auto;
      border: 0;
      font-family: 'MontserratSemiBold', sanserif;
      font-size: 14px;
      color: #333333;
    }
  }

  .navbar-nav {
    float: none;
    text-align: center;
    display: inline-block;

    li {
      float: none;
      display: inline-block;
      text-align: center;

      a {
        font-family: @MontserratSBold;
        font-size: 14px;
        color: #333333;
        padding: 35px 15px;
        text-transform: uppercase;

        &:hover, &:focus {
          color: #c42841;
        }
      }


      &.current-menu-item,
      &.current_page_item,
      &.current_page_parent,
      &.current_page_ancestor {
        > a {
          color: #c42841;
          background-color: transparent !important;
        }

        .icon-angle-down {
          color: #c42841 !important;
        }
      }


      &.dropdown {

        .dropdown-toggle {
          padding-right: 20px;
        }

        .icon-angle-down {
          font-size: 22px;
          vertical-align: middle;
          padding-left: 5px;
          position: absolute;
          top: 38%;
          right: -5px;
          color: #333333;
        }

        &:hover, &:focus {
          .dropdown-toggle {
            color: #c42841;
          }
          .icon-angle-down {
            color: #c42841;
          }
        }



        .dropdown-menu {
          padding-top: 20px;
          padding-bottom: 20px;
          top: 90%;
          border: none;
          border-radius: 0;
          left: -20%;
          -webkit-box-shadow:  0 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
          .transition(all ease-in-out .3s);
          display: block;
          .opacity(0);
          visibility: hidden;

          &:before {
            content: '';
            position: absolute;
            background-image: url('../images/menu-arrow.png');
            height: 15px;
            width: 30px;
            top: -15px;
            left: 40%;
          }

          li {
            display: block;

            a {
              text-align: left;
              color: #333333 !important;
              padding: 10px 20px;

              &:hover, &:focus {
                background-color: #f1f1f1;
              }
            }

            &.active, &.current-menu-ancestor,  &.current-menu-parent {
              a {
                background-color: #f1f1f1 !important;
              }
            }

            .dropdown-menu {
              left: 100%;
              top: -2px;
              background-color: #f9f9f9;

              &:before {
               display: none;
              }

              li {
                a {
                  background-color: transparent !important;

                  &:hover, &:focus {
                    background-color: #fff !important;
                  }
                }

                &.active {
                  a {
                    background-color: #fff !important;
                  }
                }
              }
            }

          }
        }


        &:hover {
          >.dropdown-menu {
            .opacity(1);
            visibility: visible;;
          }
        }
      }

      &.current_page_parent .icon-angle-down , &.current_page_ancestor .icon-angle-down {
        color: #c42841;
      }
    }
  }

  .menu-main-menu-container {
    float: none;
    text-align: center;
    display: inline-block;
  }

  .navbar-menu-collapse {
    text-align: right;
    .transition(all ease-in-out .3s);

    .mobile-close {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 35px;
      padding: 10px 25px;
      display: none;
      text-align: right;
      width: 100%;
      outline: none !important;
    }

    &.show {
      height: 100%;
    }    
  }

  &.navbar-animated {
    .box-shadow(0 0 10px rgba(0,0,0,0.1));
  }
}

.post-type-archive-equipments {
  .navbar-menu {
    .navbar-nav {
      .menu-item-25  {
        a {
          color: #c42841;
        }

        .icon-angle-down {
          color: #c42841;
        }
      }
    }
  }
}

.post-type-archive-services {
  .navbar-menu {
    .navbar-nav {
      .menu-item-24  {
        a {
          color: #c42841;
        }
      }
    }
  }
}

.top-head {
  display: none;
  overflow: hidden;
  background-color: #971B2F;

  .search-form-wrap {
    padding-right: 10px;

    .navbar-search-form {
      padding-top: 10px;
      padding-bottom: 10px;

      .form-control {
        text-align: left;
        padding: 0 15px;
        width: 340px;
      }

    }

    .contact-link {
      color: #fff;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }
}

.logged-in {
  .navbar-menu {
    top: 32px;
  }
}

.small-view-phone {
  color: #971b2f;
  padding: 10px 9px;
  position: relative;
  top: 0px;
  font-family: 'MontserratSemiBold', sanserif;
  font-size: 14px;
  background-color: transparent;
  text-transform: uppercase;
  display: none;

  &:hover, &:focus {
    color: #c42841;
    text-decoration: none;
  }

  span {
    vertical-align: sub;
    font-size: 20px;
    padding-left: 5px;
  }
}