@MontserratSBold: 'MontserratSemiBold', sanserif;
@MontserratBold: 'MontserratBold', sanserif;

@Roboto: 'RobotoRegular', sanserif;
@RoboLight: 'RobotoLight', sanserif;
@RobotMedium: 'RobotoMedium', sanserif;
@Robotoitalic: 'RobotoItalic', sanserif;
@RobotoBold: 'RobotoBold', sanserif;

@GeorgiaItalic:  'GeorgiaItalic', sanserif;

@ProximaNoveSBold: 'proximanovasemiboldwebfont', sanserif;

.section {
  padding: 80px 0;
  text-align: center;
}

.logo-icon-img {
  padding: 60px 0 40px;
}


.description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 1200px;

  a {
    font-family: @RobotMedium;
    color: #c42841;

    &:hover, &:focus {
      color: #BA485A;
    }
  }

  .more-link {
    display: none;
  }
}

.bg {
  background-position: center center;
  background-size: cover;
}

.bg-r {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.bg-r-overlay {
  position: relative;
  background-position: center center;
  background-size: cover;

  &:before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .opacity(.5);
  }
}

.container-fluid {
  margin: 0 auto;
  max-width: 2150px;
}

.red {
  color: #971b2f;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.bg-fixed {
  background-attachment: fixed;
}