@media(min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

@media(min-width: 1800px) {
  .container {
    width: 1600px;
  }
}

@media(min-width: 1824px) {
  .navbar-menu .menu-main-menu-container {
    padding-left: 11%;
  }

  .navbar-menu .navbar-menu-collapse {
    text-align: center;
  }
}

@media(max-width: 1680px) {
  .grid .col-md-4 {
    padding: 0 20px;
  }

  .list-news .list-item {
    padding-left: 30px;
    padding-right: 30px;
  }

  .search-form-wrap .navbar-search-form .form-control {
    width: 100px;
  }

}

@media(max-width: 1642px) {
  .search-form-wrap .contact-link {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .navbar-menu .navbar-brand {
    width: 280px;
  }

  .navbar-menu .navbar-nav li a {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .search-form-wrap .navbar-search-form {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media(max-width: 1470px) {
  .navbar-menu .navbar-nav li a {
    padding: 29px 10px;
    font-size: 12px
  }

  .search-form-wrap .navbar-search-form .form-control {
    font-size: 12px;
  }

  .search-form-wrap .contact-link {
    font-size: 18px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .navbar-menu .navbar-brand {
    width: 260px;
  }

  .navbar-menu .navbar-nav li a {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .search-form-wrap .navbar-search-form {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media(max-width: 1267px) {
  .top-head {
    display: block;
  }

  .search-form-wrap-desk {
    display: none;
  }
}

@media(max-width: 900px) {
  .top-head {
    display: none;
  }

  .navbar-menu-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #004B65;
    height: 0;
    overflow: hidden;
  }

  .navbar-header {
    display: block;
    float: none;
  }

  .navbar-toggle {
    display: block;
  }
}


